*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1f1f1f;
    color: #ffffff  ;
    font-family: 'Montserrat', sans-serif;

}

.container{
    max-width: 80%;
    
    margin: 0px auto;
    
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    list-style: none;
    font-weight: 700;
    font-size: 12px;
    color: #F5F5F5;

}

.nav-items select{
    background-color: #1f1f1f;
    border: none;
    list-style: none;
    font-weight: 700;
    font-size: 12px;
    color: #F5F5F5;

}

.person{
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
}

.personImg img {
    height: 620px;
}

.personInfo h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #FF3343;
    margin: 0;

}

.personInfo h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    color: #FFFFFF;
    margin: 0;
}

.personInfo p {
    padding-right: 30%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    margin: 5px auto 37px auto;
}

.aboutme {
    width: 171px;
    height: 55px;
    background: #C91B28;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

.three-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 auto;
    margin-top: 100px;
}

.span{
    background: #2c2b2b;
    z-index: -1;
    position: absolute;
    
width: 855px;
height: 994px;
left: -1px;
top: 696px;
    
}

.box-one {
   
    height: 382px;
    background: #272626;
}

.box-two {
    
    height: 382px;
    background: #C91B28;
    margin: auto 25px;
}

.box-three {
  
    height: 382px;
    background: #272626;
}

.box {
    padding: 40px;
}

.box h3 {
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    margin: 25px 0;

}

.box p {
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.red-text{
    color: #C91B28;
}

.box-part-two{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top : 120px;
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.exp h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 110px;
    color: #EF4040;
    text-align: center;
}

.exp p {
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;

}

.right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    text-align: center;
}

.small-box {
    background: #272626;
    padding: 25px;
}

.small-box h1 {
    font-weight: 700;
    font-size: 50px;
    color: #EF4040;
}

.small-box p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
}

.viewall  button{
    padding: 15px 30px;
    background: #FF3343;
    color: #F5F5F5;
}


.project-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 42px;
}

.title {

}


.title h1{
    font-weight: 900;
    font-size: 30px;
    padding: 10px;
}

.title p {
    font-weight: 400;
font-size: 16px;
}

.img-div{
    height: 300px;
    width: 100%;
    padding: 50px 30px;
}

.card h3 {
    font-weight: 900;
font-size: 24px;
margin-top: 23px
}

.card h5 {
    font-weight: 700;
    font-size: 18px;
    color: #EF4040;
    /* padding: 10px auto 20px auto; */
}

.card{
    

}

.card-image {

    background: #272626;
    padding: 27px 88px;
}


.end-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 50px;
    height: 346px;
    background: #272626;
    text-align: center;

}

.end-box-title {
    padding-left: 51px;
}

.end-box h3{
    font-weight: 700;
    font-size: 50px;
}

.end-box p {
    font-weight: 400;
font-size: 16px;
}

.contact{
text-align: center;
}

.contact button{
    padding: 15px 30px;
    background: #FF3343;
    color: #F5F5F5;

}

.end-navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 60px auto 30px 20px;
}

.end-navbar li {
    padding: 10px;
}

footer {
    background-color: #272626;
}

.footer {
    max-width: 80%;
    margin : 0 auto;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 40px 0;
}

button , li{
    cursor: pointer;
}